[application]
tailwind_input = "assets/main.css"
tailwind_output = "assets/tailwind.css"
[web.app]

# HTML title tag content
title = "test_desktop"

# include `assets` in web platform
[web.resource]

# Additional CSS style files
style = []

# Additional JavaScript files
script = []

[web.resource.dev]

# Javascript code file
# serve: [dev-server] only
script = []
